{% extends "!layout.html" %}

{% block extrahead %}

  <!--lightbox benötigt jquerry-->
  <script src="{{ pathto("_static/resources/jquery-3.1.1.min.js", True )}}" type="text/javascript"></script>
  <!--import lightbox  Dateien (Vollbildansicht Bilder)-->
  <link href="{{ pathto("_static/resources/lightbox/src/css/lightbox.css", True )}}" rel="stylesheet" type="text/css">
  <script src="{{ pathto("_static/resources/lightbox/src/js/lightbox.js", True )}}" type="text/javascript"></script>

  <!--import ecadia Custom javascript und css-->
  <script src="{{ pathto("_static/script.js", True )}}" type="text/javascript"></script>
  <link href="{{ pathto("_static/customStyles.css", True) }}" rel="stylesheet" type="text/css">


  <script  type="text/javascript">
      $(document).ready(function () {
        //add download Button for PDF Version
        $("nav.wy-nav-side").append("<div class='ButtonDownloadPDF-Container'> <a class='Button' href='{{ base_url }}/{{url_to_doku_pdf}}' download='{{doku_pdf_titel}}'>Download als PDF</a> </div>");

        // add edit on Gitlab Button
        $("li.wy-breadcrumbs-aside").append("<a class='Button' target='_blank' href='{{ edit_on_gitlab_url }}' rel='nofollow'>{{ _('Edit on Gitlab') }}</a>");

      });

    </script>
{% endblock %}
